@font-face {
font-family: 'TT Lakes Regular';
src: url('../fonts/TTLakes-Regular.eot');
src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/TTLakes-Regular.woff') format('woff'),
url('../fonts/TTLakes-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TT Lakes Bold';
src: url('../fonts/TTLakes-Bold.eot');
src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/TTLakes-Bold.woff') format('woff'),
url('../fonts/TTLakes-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-family: 'TT Lakes Regular';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;

color: #1B1C21;
}

.header {
	display: flex;
	width: 100%;
	border-bottom: #D9FFF5 1px solid;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 16px;
}

.menu__item {
	display: flex;
	list-style: none;
}

.menu__link {
	text-decoration: none;
	display: flex;
}

.menu__item--divider-after::after {
	content: url(../menu__icon/divider.svg);
	padding-left: 20px;
	padding-top: 8px;
}

.menu__item--logo-before::before {
	content: url(../menu__icon/Group.svg);
	padding-right: 250px;
	padding-top: 8px;
}

.menu__item--divider-before::before {
	content: url(../menu__icon/divider.svg);
	padding-right: 20px;
	padding-top: 8px;
}

.main {
	display: flex;
	width: 100%;
	background: #F8F8F8;
}

.section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.section__main-header {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 0;
	padding: 0 16px;
	font-family: 'TT Lakes Bold';
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.6px;
	color: #1B1C21;
}

.section__main-header::before {
	content: '';
	height: 40px;
	width: 4px;
	background: url(../section__main-header/highlight.png);
	background-size: 100% 100%;
	display: inline-block;
	margin-left: -15px;
	margin-right: 15px;
	margin-bottom: -8px
}

.main__menu {
	flex-shrink: 0;
	height: 60px;
	margin-top: 24px;
	margin-bottom: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
	overflow: auto;
}

.main__menu::-webkit-scrollbar {
	width: 0;
}

.menu__item--bordered {
	flex-shrink: 0;
	padding: 8px 16px;
	margin-left: 16px;
}

.menu__item--bordered:focus,
.menu__item--bordered:hover {
	flex-shrink: 0;
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 6px 14px;
}

.about-company {
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 16px;
	margin-left: 0;
	margin-right: 0;
}

.about-company__text--hidden {
	display: none;
	order: 2;
}

.about-company__hover-button {
	order: 3;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1B1C21;
}

.about-company__hover-button::before {
	content: url(../about-company__hover-button/icon.svg);
	padding-right: 16px;
}

.about-company__hover-button:hover+.about-company__text--hidden,
.about-company__hover-button:focus+.about-company__text--hidden {
	display: inherit;
}

.figure {
	width: 50%;
	margin-left: 0;
	margin-right: 0;
}

.figure__cps-img {
	width: 360px;
}

